body {
  /*background-color: #999999;*/
}
footer {
  max-width: 900px;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  margin-top: 30px;
}

h6 {
  font-size: 9px;
  text-align: right;
  opacity: .6;
}

#art {
  max-width: 200px;
  box-shadow: 10px 10px 40px #000;
}

#audioControls {
  font-size:2.5em;
  color: white;
  position: absolute;
  bottom: 40px;
  margin: auto;
}

#playBtn:hover, #nextBtn:hover, #stopBtn:hover, .glyphicon-upload:hover {
  /*text-decoration: underline;*/
  /*color: #808080;*/
  text-shadow: 0 0 40px #fff;

}


#upload {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 10px;
  /*margin-top: 80px;*/

}


#mainContainer {
  /*background-color: red;*/
  background-image: url("../imgs/defaultBg.jpg");
  background-position: center;
  max-width: 900px;
  min-height: 500px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 10px 10px 90px #000;
}

#infoContainer {
  padding-top: 40px;
  padding-left: 20px;
  background-color: black;
  background-color:rgba(0,0,0,0.7);
  max-width: 300px;
  margin-left: 50px;
  height: 500px;
  position: relative;

}



#player {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

#artist{
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 35px;
  word-wrap: break-word;
}
#song {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;

  font-style: italic;
}
#album{
font-size: 14px;
}
#genre {
font-size: 14px;
}
